.className {
  height: 200vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 110vh;
  z-index: -1;
}

.main-page {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.first-section {
  margin-top: 20vh;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section {
  background-color: rgba(0, 90, 179, 0.6);
  width: 100%;
  height: 75vh;
  margin-top: 25vh;
}

@media (max-width: 992px) {
  .first-section {
    margin-top: 15vh;
    height: 85vh;
  }
}
@media (max-width: 768px) {
  .first-section {
    margin-top: 20vh;
    height: 80vh;
  }
}
@media (max-width: 576px) {
  .first-section {
    margin-top: 12vh;
    height: 88vh;
  }
}
