$particles-page-border: rgba(120, 190, 255, 0.45);

.particles-page {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border: 1px dashed $particles-page-border;
}
