$shiny-border: rgba(120, 190, 255, 0.45);

.shiny-text {
  display: inline-block;
  border: 1px dashed $shiny-border;
  border-radius: 8px;
  padding: 0.1rem 0.25rem;

  &.disabled {
    border-style: solid;
  }
}
