$legacy-font: "Montserrat", "Segoe UI", sans-serif;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $legacy-font;
  background: #050d1d;
  color: #f2f7ff;
}
