@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgba(4, 13, 31, 1);
  color: aliceblue;
  margin: 0;
}
