nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(4, 13, 31, 1);
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
  box-shadow: 0 8px 10px rgba(255, 255, 255, 0.2);
  width: 100%;
  z-index: 1;
}
.link {
  text-decoration: none;
  color: aliceblue;
  font-family: "Montseratt", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 30vw;
}
