nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  background-color: rgba(98, 123, 172, 0.5);
  align-items: center;
  justify-content: space-around;
  width: 500px;
  padding: 15px 10px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.link {
  text-decoration: none;
  color: aliceblue;
  font-family: "Montseratt", sans-serif;
  font-weight: 500;
  text-align: center;
}
