.main-container {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
}
.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  width: fit-content;
  height: auto;
  cursor: default;
  margin-bottom: 1.25rem;
}
.full-stack-info {
  display: flex;
  justify-content: center;
}

.info-text {
  width: fit-content;
  margin: 0;
}
.full-stack-text {
  font-weight: 700;
  margin: 0;
}
.developer {
  margin: 0 0 0 15px;
}
.hello-text {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  cursor: default;
}

.more-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-about p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
