.main-element {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

/* prettier-ignore */
.shape1, .shape2, .shape3 {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 8px solid;
  transition: border-radius 4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  filter: blur(3px);
}

.shape1 {
  border-radius: 600%;
  border-color: #4a85d8ff;
  animation: rotate 30s infinite linear;
  box-shadow: 0 0 15px #b3c4d7;
  /* box-shadow: 0 0 15px #000000; */
}

.shape2 {
  border-radius: 400%;
  /* border-color: #71a4d7; */
  border-color: #000000;
  animation: rotate 45s infinite linear;
  animation-direction: reverse;
  box-shadow: 0 0 12px #71a4d7;
  /* box-shadow: 0 0 15px #000000; */
}

.shape3 {
  border-radius: 50%;
  /* border-color: #9fb5d8; */
  border-color: #4a85d8ff;
  animation: pulse 3s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #9fb5d8;
  /* box-shadow: 0 0 15px #000000; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}
