.main-element {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

/* prettier-ignore */
.shape1, .shape2, .shape3 {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid;
  transition: border-radius 4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.shape1 {
  border-radius: 600%;
  border-color: #b3d7d0;
  animation: rotate 30s infinite linear;
  box-shadow: 0 0 15px #b3d7d0;
}

.shape2 {
  border-radius: 400%;
  border-color: #ccdef0;
  animation: rotate 45s infinite linear;
  animation-direction: reverse;
  box-shadow: 0 0 12px #ccdef0;
}

.shape3 {
  border-radius: 50%;
  border-color: #b8f1e1;
  animation: pulse 3s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #b8f1e1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}
