.particles-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  z-index: 0;
  pointer-events: none;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
